/* ==============================
   App
============================== */

.App {
  width: min(100%, 780px);
  margin: 0 auto;
  padding: 2.5rem;
}

.title {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  color: #fff;
  font-size: 48px;
}

.commonArea {
  width: 90%;
  margin: 0 auto;
}

